@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: hsl(0, 31%, 53%);
  --primary-color-darker: hsl(160, 25%, 12%);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;
  border-radius: 10px;
}

.password {
  font-size: 1.5em;
  margin-bottom: 40px;
  margin-top: 40px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

button {
  display: block;
  margin: 40px 0;
  font-size: 1em;
}

.password-length {
  font-size: large;
}